*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
.h1{
    width: 100%;
    /* height: 100vh; */
}
.h-top{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    padding: 15px 10px;
    /* border: 2px solid black; */
    border-bottom: 7px solid rgb(240, 239, 239);
}
.logo img{
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
}
nav li a{
    color: black;
    font-size: 0.9rem;
    border: none;
}
nav li a:hover{
    /* transform: rotate(360deg); */
    border-bottom: 2.9px solid rgb(116, 35, 35);
}
nav{
    width: 50%;
    position: relative;
    /* border: 2px solid red; */
}
nav ul{
    position: absolute;
    top: 20px;
}
nav li{
    position: relative;
}
.nav1{
    /* border: 2px solid green; */
    width: 150px;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    visibility: hidden;
}
.nav1 li a{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0px 10px;
    color: white;
}
.nav-items:hover .nav1{
    transition: 0.7s;
    top: 15px;
    visibility: visible;
    z-index: 4;
}
.icons{
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.login {
    padding: 0px 20px;
}
.login a{
    color: rgb(22, 19, 26);
    font-size: 0.8rem;
}
.f-icon i{
    padding: 0px 10px;
}
.home{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.h-text a{
    color: black;
    font-size: 1rem;
    
}
.h-text i{
    font-size: 1rem;
    padding-right: 5px;
}
.h-text span{
    padding-left: 5px;
    color: rgb(125, 105, 105);
}
.post{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 2px solid black; */
}
.p-top{
    width: 100%;
}
.pp-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.p-left{
    width: 35%;
    position: relative;
    padding-right: 30px;
   
}
.p-img{
height: 540px;
background: url('blog-1.jpg');
background-position: top center;
background-repeat: no-repeat;
background-size: cover;

}
.p-text{
    width: 360px;
    padding: 20px 0px;
    /* border: 2px solid rgb(88, 16, 189); */
    background-color: white;
    position: absolute;
    top:80% ;
    left: 0;
}
.p-text h6{
    font-size: 1.1rem;
    font-weight: 500;
}
.p-text ul li{
    display: inline-block;
    padding: 10px 0px;
    font-size: 0.8rem;
}

.p-right{
    width:65%;
    /* border: 2px splid rgb(88, 16, 189); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 350px;
    /* border: 2px solid red; */
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.r-img{
    height: 240px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.r1-img{
    background: url('blog-2.jpg');
}
.r2-img{
    background: url('blog-3.jpg');
}
.r3-img{
    background: url('blog-4.jpg');
}
.r4-img{
    background: url('blog-5.jpg');
}
.r5-img{
    background: url('blog-10.jpg');
}
.r6-img{
    background: url('blog-7.jpg');
}
.r7-img{
    background: url('blog-8.jpg');
}
.r8-img{
    background: url('blog-9.jpg');
}
.pl-img{
    background: url('blog-6.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.r-text{
    width: 320px;
    padding: 20px 0px;
    /* border: 2px solid rgb(88, 16, 189); */
    background-color: white;  
    position: absolute;
    top: 70%;
    left: 0;
}
.r-text h6{
    font-size: 1.1rem;
    font-weight: 500;
}
.r-text ul li{
    display: inline-block;
    padding: 10px 0px;
    font-size: 0.8rem;
}
.pp-bottom{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.p-bottom{
    text-align: center;
    padding: 40px 0px;
}
.p-bottom a{
    padding: 20px 40px;
    /* border: 2px solid red; */
    border-radius: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(172, 249, 244);
}
.insta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.insta-img{
    width: 250px;
    height: 320px;
    position: relative;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.i1-img{
    width: 265px;
    background: url('insta-1.jpg');
}
.i2-img{
    background: url('insta-2.jpg');
}
.i3-img{
    background: url('insta-3.jpg');
}
.i4-img{
    background: url('insta-4.jpg');
}
.i5-img{
    background: url('insta-5.jpg');
}
.i6-img{
    background: url('insta-6.jpg');
}
.insta-icon{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
.insta-text i{
    padding: 20px;
}
.insta-a a{
    color:#111111;
}
.insta-img:hover .insta-icon{
    visibility: visible;
    opacity: 1;
}
.foot{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.f-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.f-1{
    width: 25%;
}
.f-1 p{
    padding-bottom: 20px;
    font-size: 0.9rem;
    color: #666666;
}  
.f-logo{
    margin-bottom: 20px;
}
.foot-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
h6{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
.f-2{
    width: 25%;
}
.f-2 ul{
    list-style: none;
    padding: 25px 0px;
    line-height: 30px;
    color: #666666;
    font-size: 0.9rem;
}
.f-3{
    width: 25%;
}
.f-3 ul{
    list-style: none;
    padding: 25px 0px;
    line-height: 30px;
    color: #666666;
    font-size: 0.9rem
}
.f-4{
    width: 25%;
}
.f-4 form{
    padding: 25px 0px;
    position: relative;
}
.f-4  input{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #040303;
    position: relative;
}
.f-4 button{
    position: absolute;
    right: 0;
    top: 29px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(227, 19, 19);
    color: white;
    font-size: 1.3rem;
  
}
.f1-icon{
display: inline-block;
margin: 10px;
}
.f1-icon i{
    padding: 20px 10px;
    background-color: rgba(227, 219, 219, 0.9);
    border-radius: 50%;
}
.f-bottom{
    text-align: center;
    padding: 20px 0px;
}





