*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
.h1{
    width: 100%;
    /* height: 100vh; */
}
.h-top{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    padding: 15px 10px;
    /* border: 2px solid black; */
    border-bottom: 7px solid rgb(240, 239, 239);
}
.logo img{
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
}
nav li a{
    color: black;
    font-size: 0.9rem;
    border: none;
}
nav li a:hover{
    /* transform: rotate(360deg); */
    border-bottom: 2.9px solid rgb(116, 35, 35);
}
nav{
    width: 50%;
    position: relative;
    /* border: 2px solid red; */
}
nav ul{
    position: absolute;
    top: 20px;
}
nav li{
    position: relative;
}
.nav1{
    /* border: 2px solid green; */
    width: 150px;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    visibility: hidden;
}
.nav1 li a{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0px 10px;
    color: white;
}
.nav-items:hover .nav1{
    transition: 0.7s;
    top: 15px;
    visibility: visible;
    z-index: 4;
}
.icons{
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.login {
    padding: 0px 20px;
}
.login a{
    color: rgb(22, 19, 26);
    font-size: 0.8rem;
}
.f-icon i{
    padding: 0px 10px;
}
.home{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.h-text a{
    color: black;
    font-size: 1rem;
    
}
.h-text i{
    font-size: 1rem;
    padding-right: 5px;
}
.h-text span{
    padding-left: 5px;
    color: rgb(125, 105, 105);
}
.img-page{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid black; */
    height: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.s-img{
width: 130px;
height: 100%;
/* border: 2px solid red; */
}
.s1-img{
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.s2-img{
    height: 150px;
    width: 100%;
    margin: 15px 0px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.s1{
    background: url('thumb-1.jpg');
}
.s2{
    background: url('thumb-2.jpg');
}
.s3{
    background: url('thumb-3.jpg');
}
.s4{
    background: url('thumb-4.jpg');
}
.l-img{
    width: 400px;
    height: 100%;
    /* border: 2px solid red;  */
    background: url('product-1\ copy.jpg'); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.t-img{
    width: 510px;
    height: 100%;
    /* border: 2px solid red;  */
}
.review{
    padding: 5px 0px;
}
.review h4{
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 1.7rem;
    font-weight: 700;
}
.review p{
    padding-bottom: 15px;
    font-size: 0.8rem;
    color: rgb(79, 72, 72);
}
.icon{
    /* padding-bottom: 10px; */
    font-size: 0.7rem;
    color: rgb(79, 72, 72);

}
.num{
    padding: 15px 0px;
}
.num h6{
    font-size: 1.7rem;
    color: red;
    padding-bottom: 10px;
    cursor: pointer;
}
.num span{
    font-size: 17px;
    color: #b1b0b0;
	text-decoration: line-through;
	margin-left: 4px;

}
.num p{
    padding: 10px 0px;
    line-height: 20px;
    font-size: 0.8rem;
    color: rgb(79, 72, 72); 
}
.cart p,h6{
    display: inline-block;
}
.cart p{
    font-size: 0.9rem;
    font-weight: 600;
}
.cart h6{
    padding: 10px 30px;
    border: 2px solid rgb(218, 209, 209);
    border-radius: 20px;
    font-size: 0.9rem;
}
.cart h6 span{
    padding: 0px 20px;
}
.cart a{
    padding:10px 30px ;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.cart i{
    padding: 10px;
    border:2px solid  rgb(218, 209, 209);
    border-radius: 50px;
}
.avail{
    padding: 20px 0px;
}
.avail ul{
    list-style: none;
}
.avail li{
    line-height: 30px;
}
.avail span{
    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 10px;
}
.avail label{
    color: rgb(129, 114, 114);
    padding-left: 20px;
    cursor: pointer;
}
.size p{
    display: inline-block;
    padding: 0px 20px;
    font-size: 0.9rem;
    color: rgb(79, 72, 72);
    letter-spacing: 10px;
    cursor: pointer;
}
.size p:hover{
    color: red;
}
.free p{
    display: inline-block;
    color: rgb(79, 72, 72);
    padding-left: 30px;
    font-size: 0.9rem;
}
.description{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid black; */
}
.d-text{
    text-align: center;
    font-size: 1.7rem;
    color: rgb(79, 72, 72);
}
.d-text span{
    padding-right: 10px;
    color: black;
}
.d-text h6{
    word-spacing: 15px;
}
.description h5{
    padding: 25px 0px;
    font-size: 1.1rem;
    color: rgb(79, 72, 72);
}
.d-page p{
    color: rgb(79, 72, 72);
    padding-bottom: 20px; 
}
.related{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid black;   */
}
.r-top h5{
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.r-bottom{
   width: 100%; 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.r-com{
/* border: 2px solid black; */
width: 260px;
position: relative;
}
.r-img{
    height: 360px;
    width: 260px;
   
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.r1{
    background: url('rp-1.jpg');
}
.r2{
    background: url('rp-2.jpg');
}
.r3{
    background: url('rp-3.jpg');
}
.r4{
    background: url('rp-4.jpg');
}
.r-img span{
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(27, 200, 27);
    color: white;
    text-transform: uppercase;
}
.r-text{
    text-align: center;
    padding: 10px;
}
.r-text h6{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(79, 72, 72);
}
.star{
    padding: 10px;
    font-size: 0.7rem;
}
.r-text h4{
    font-size: 1rem;
    font-weight: 700;
}
.hover{
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(215, 21, 21); */
    display: inline-block;
    padding: 20px ;
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
    top:100%;
    left: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.hover i{
    padding: 20px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}
.r-com:hover .hover{
    top: 50%;
    left: 0;
    visibility: visible;
    opacity: 1;
}
.hover i:hover{
    background-color: red;
    rotate: -360deg;
}
.insta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.insta-img{
    width: 250px;
    height: 320px;
    position: relative;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.i1-img{
    width: 265px;
    background: url('insta-1.jpg');
}
.i2-img{
    background: url('insta-2.jpg');
}
.i3-img{
    background: url('insta-3.jpg');
}
.i4-img{
    background: url('insta-4.jpg');
}
.i5-img{
    background: url('insta-5.jpg');
}
.i6-img{
    background: url('insta-6.jpg');
}
.insta-icon{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
.insta-text i{
    padding: 20px;
}
.insta-a a{
    color:#111111;
}
.insta-img:hover .insta-icon{
    visibility: visible;
    opacity: 1;
}
.foot{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.f-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.f-1{
    width: 25%;
}
.f-1 p{
    padding-bottom: 20px;
    font-size: 0.9rem;
    color: #666666;
}  
.f-logo{
    margin-bottom: 20px;
}
.foot-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
h6{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}
.f-2{
    width: 25%;
}
.f-2 ul{
    list-style: none;
    padding: 25px 0px;
    line-height: 30px;
    color: #666666;
    font-size: 0.9rem;
}
.f-3{
    width: 25%;
}
.f-3 ul{
    list-style: none;
    padding: 25px 0px;
    line-height: 30px;
    color: #666666;
    font-size: 0.9rem
}
.f-4{
    width: 25%;
}
.f-4 form{
    padding: 25px 0px;
    position: relative;
}
.f-4  input{
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #040303;
    position: relative;
}
.f-4 button{
    position: absolute;
    right: 0;
    top: 29px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(227, 19, 19);
    color: white;
    font-size: 1.3rem;
  
}
.f1-icon{
display: inline-block;
margin: 10px;
}
.f1-icon i{
    padding: 20px 10px;
    background-color: rgba(227, 219, 219, 0.9);
    border-radius: 50%;
}
.f-bottom{
    text-align: center;
    padding: 20px 0px;
}





